<nav class="navbar navbar-expand-sm navbar-dark bg-darker fixed-top p-0">
    <a routerLink="/" class="navbar-brand py-0 mx-0"><img width="24" height="24" class="img-fluid ml-1" alt="-97db Logo" src="../assets/img/wave-sm.png"><span class="brand-name">97db</span><strong class="d-lg-none mr-1">Original Music</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Composers
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/composer/gerardo-colinas">Gerardo Colinas</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/composer/german-martin">German Martin</a>
          </div>
        </li>
        <li class="nav-item">
          <a href="#myModal" data-toggle="modal" class="nav-link">Contact</a>
        </li>
      </ul>
    </div>
</nav>

<router-outlet></router-outlet>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="h4 text-dark">Contact us!</h2>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>

      <div class="modal-body embed-responsive-1by1 py-0">
          <iframe class="embed-responsive-item" [src]="Url" frameBorder="0" scrolling="no"></iframe>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
      </div>
    </div>
  </div>
</div>

<footer id="main-footer">
      <div class="container">
        <div class="row">
          <div class="col text-center">
            <div class="py-4">
              <p class="navbar-brand d-inline py-0 mx-0"><img width="24" height="24" class="img-fluid ml-1" alt="-97db Logo" src="../assets/img/wave-sm.png"><span class="brand-name">97db</span><strong class="mr-1">Original Music</strong></p>
              <p class="small">Copyright © 2018</p>
              <button class="btn btn-secondary" href="#myModal" data-toggle="modal">Contact Us</button>
            </div>
          </div>
        </div>
      </div>
</footer>
