.bg-darker {
  background-color: #1d2023 !important;
}

.navbar {
  opacity: 0.9;
}

span.brand-name {
  margin-left: 1px;
  margin-right: 1px;
  font-size: 90%;
}

#main-footer {
  background-color: #1d2023 !important;
}
