<header id="home-section" class="pb-5">
  <div class="dark-overlay">
    <div class="home-inner pt-5">
      <div class="container">
        <div class="row pt-2 pt-lg-5">
          <div class="services col-lg-6">
            <h1 class="display-5 d-none d-lg-block" [innerHTML]="title"></h1>
            <p class="years small text-left d-none d-lg-block">17+ years in Entertainment Industry</p>
            <div class="d-flex flex-row">
              <div class="p-2 p-md-3 p-lg-4 align-self-start">
                <i class="fa fa-film bg-secondary p-2 fa-lg"></i>
              </div>
              <div class="p-2 p-md-3 p-lg-4 align-self-end">
                Music production, composition and orchestration for <strong>Films and TV</strong>.
              </div>
            </div>
            <div class="d-flex flex-row">
              <div class="p-2 p-md-3 p-lg-4 align-self-start">
                <i class="fa fa-code bg-secondary p-2 fa-lg"></i>
              </div>
              <div class="p-2 p-md-3 p-lg-4 align-self-end">
                Loops and fragments design for <strong>Game Dynamic Music Programming</strong>.
              </div>
            </div>
            <div class="d-flex flex-row">
              <div class="p-2 p-md-3 p-lg-4 align-self-start">
                <i class="fa fa-volume-up bg-secondary p-2 fa-lg"></i>
              </div>
              <div class="p-2 p-md-3 p-lg-4 align-self-end">
                <strong>Audio / Music</strong> consulting services for game development.
              </div>
            </div>
          </div>
          <div class="featured col-lg-6">
            <h2 class="h3 d-none d-lg-block text-center"><strong >Featured Music</strong></h2>
              <div class="card bg-secondary text-center card-form row mb-2 p-1" *ngFor="let fprod of this.dataService.featuredMusic.prods">
                <div class="card-body p-2">
                  <div class="container-fluid row justify-content-center" *ngIf="loadingFeatured">
                    <div class="loader text-light border-secondary rounded-circle"></div>
                  </div>
                  <div class="container-fluid" class="" *ngIf="!loadingFeatured">
                    <div class="featured-track d-flex flex-row" >
                      <img src="{{fprod.image}}" alt="{{fprod.title}} {{fprod.field_format}} {{fprod.field_inst}}" title="{{fprod.title}} {{fprod.field_format}} {{fprod.field_inst}}" class="img-fluid rounded-circle align-self-start">
                      <div class="align-self-end pl-4">
                        <h3 class="mb-1"><strong>{{fprod.title}}</strong> <span class="badge badge-dark ml-1">{{fprod.field_format}}</span> <span class="badge badge-dark">{{fprod.field_inst}}</span></h3>
                        <app-track *ngFor="let ftrack of fprod.tracks" [Track]="ftrack">
                        </app-track>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container-fluid row justify-content-center" *ngIf="loading">
  <div class="loader text-light border-secondary rounded-circle"></div>
</div>

<div class="container" class="" *ngIf="!loading">
  <app-production *ngFor="let prod of dataService.landingProductions.data;let index = index;" [Prod]="prod" [Id]="prod.id" [Index]="index">
  </app-production>
</div>
