@keyframes playingAnimation {
  0%   { opacity:0.8; box-shadow: none;}
  50%  { opacity:0.6;box-shadow: inset 0px 0px 1px 2px lightgrey;}
  100% { opacity:0.8;box-shadow: none;}
}
@-o-keyframes playingAnimation{
  0%   { opacity:0.8; box-shadow: none;}
  50%  { opacity:0.6;box-shadow: inset 0px 0px 1px 2px lightgrey;}
  100% { opacity:0.8;box-shadow: none;}
}
@-moz-keyframes playingAnimation{
  0%   { opacity:0.8; box-shadow: none;}
  50%  { opacity:0.6;box-shadow: inset 0px 0px 1px 2px lightgrey;}
  100% { opacity:0.8;box-shadow: none;}
}
@-webkit-keyframes playingAnimation{
  0%   { opacity:0.8; box-shadow: none;}
  50%  { opacity:0.6;box-shadow: inset 0px 0px 1px 2px lightgrey;}
  100% { opacity:0.8;box-shadow: none;}
}

.br-5 {
  border-radius: 5px;
}

.track-title {
  max-width: 180px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.track-play {
  touch-action: manipulation;
  cursor: pointer;
}

.track-container.bg-dark {
  -webkit-animation: playingAnimation 2s infinite;
  -moz-animation: playingAnimation 2s infinite;
  -o-animation: playingAnimation 2s infinite;
   animation: playingAnimation 2s infinite;
}
